<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yasmina</title>
    <link rel="stylesheet" type="text/css" href="style.css"> </link>
</head>
<body>
<h1> welcome to yasmina online shop !!</h1>
<p> shop your fav brands with less price and high quality </p>
<img src="{{ url_for('static', filename = '/imgs/Nike-Logo.png') }}"alt="nike" width="460" height="345">
<img src="{{ url_for('static', filename = '/imgs/adidas-logo.jpg') }}"alt="nike" width="460" height="345">
<div id="categories">
    <h2>categories</h2>
    <ul>
     <a href="/product"> <li>nike</li> </a>
     <a href=""><li>adidas</li>
     <a href=""><li>vans</li></a>
</ul> 
</div>
<a href='/cart'><button class="card">pro</button></a>
</body>
</html>