<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yasmina</title>
    <link rel="stylesheet" type="text/css" href="style.css"> </link>
</head>
<body>
<h1> welcome to yasmina online shop !!</h1>
<p> shop your fav brands with less price and high quality </p>
<img src="nike1.jpg" width="460" height="345">
<img src="nike2.jpeg" width="460" height="345">
<div id="categories">
    <h2>categories</h2>

    <ul>
     <a href="/product"> <li>nike</li> </a>
     <a href=""><li>adidas</li>
     <a href=""><li>vans</li></a>
</ul> 
</div>
</body>
</html>