<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yasmina Products</title>
    <link rel="stylesheet" type="text/css" href="style.css"> </link>
</head>
<body>
<h1>check them out!</h1>
<h2>lifestyle </h2>
<div class="card">
    <img src="{{url_for('static', filename='imgs/nike1.jpg')}}" alt="nike"  width="400" height="300">
  <h1> basic nike</h1>
  <p class="price">$110</p>
  <p>simple black and white nike.</p>
  <a href="/cart"><button>Add to Cart</button></a>
</div>
<div class="card">
  <img src="{{ url_for('static', filename = '/imgs/nike2.jpeg') }}"alt="nike"  width="500" height="500">
  <h1> bold black nik</h1>
  <p class="price">$120 </p>
  <p>Black nike with a small red sign.</p>
  <a href="/cart.html"><button>Add to Cart</button></a>

</div>
</body>
</html>
